@{
    ViewBag.Title = " - Home";
}
        <!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><img class="img-responsive" src="~/Plugins/parallax-slider/img/1.png" alt=""></div>
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img">
                <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><img src="~/Plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->
<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 animated fadeInLeft">
                <span style="display:block;">“Genius is 1% talent and 99% percent hard work...”.</span>
                <div style="display:block;text-align:right;">
                    <small>- Albert Einstein</small>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container content">
    <!-- Service Blocks -->
    <div class="headline"><h2>Our Development Services</h2></div>
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-compress service-icon"></i>
                <div class="desc">
                    <h4>Web Site</h4>
                    <p style="text-align:justify;">We use Responsive Design framework that enables your website to be displayed properly on different size of screen on different type of devices.</p>
                    <p style="text-align:justify;">Our works support all major web browser such as Firefox,Safari,IE,Chrome and Opera (latest version).</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>Windows Apps</h4>
                    <p style ="text-align:justify;">We develop Windows Application to suits your specific needs using Microsoft Windows Form technology.</pstyle>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-rocket service-icon"></i>
                <div class="desc">
                    <h4>Mobile Apps</h4>
                    <p style="text-align:justify;">We prefer to use Android to suit your mobile application development need.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Blokcs -->
    <!-- Recent Works -->
    <div class="headline"><h2>Recent Works</h2></div>
    <div class="row margin-bottom-20">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="Images/main/2.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project One</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="Images/main/3.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Two</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="Images/main/9.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Three</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="Images/main/10.jpg" alt="">
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Four</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Recent Works -->
</div><!--/container-->
<!-- End Content Part -->
@section Css {
<link rel="stylesheet" href="~/Plugins/flexslider/flexslider.css">
<link rel="stylesheet" href="~/Plugins/parallax-slider/css/parallax-slider.css">
}

@section Scripts {
<script type="text/javascript" src="~/Plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="~/Plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="~/Plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="~/Plugins/parallax-slider/js/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initSliders();
        ParallaxSlider.initParallaxSlider();
    });
</script>

}