@{
    ViewBag.Title = " - Home";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Privacy Policy</h1>
        <ul class="pull-right breadcrumb">
            <li><span>Documents</span></li>
            <li class="active">Privacy Policy</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <ul>
            <li>Pandora Technology Solutions takes privacy very seriously. Logged in credentials,quotes and personal information are not shared with any third parties unless it is required by law.</li>
            <li>Your IP address and location may be tracked by our Google Analytic for statistic purpose only.</li>
        </ul>
    </div><!--/row-fluid-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div><!--/container-->