@{
    ViewBag.Title = " - Home";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Terms of Service</h1>
        <ul class="pull-right breadcrumb">
            <li><span>Documents</span></li>
            <li class="active">Terms of Service</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <h4>For Visitors and Members</h4>
        <ul>
            <li>You agree that Pandora Technology Solutions may change our Privacy Policy and Terms of Services without any prior notice. </li>
            <li>You agree that Pandora Technology Solutions is not liable on any damage caused by the information provided on this web site directly or indirectly.</li>
            <li>You agree not to try to access our information other than our interface provides.</li>
        </ul>
        <h4>For Members</h4>
        <ul>
            <li>You agree to provide realiable information about your self when registering with us. All unconfirmed accounts will be deleted.</li>
            <li>You agree that Pandora Technology Solutions has a right to terminate your account anytime if we consider that your detail are fake or you misuse our registration.</li>
            <li>You agree that Pandora Technology Solutions does not guarantee the safety of your recorded information on our system but we will do our best to secure our website and all member information.</li>
            <li>You agree that by becoming a member of our site, Pandoro Technology Solutions may time to time send you a newsletter or other annoucement directly to your email inbox.</li>
        </ul>
    </div><!--/row-fluid-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div><!--/container-->
<!--=== End Content Part ===-->