@{
    ViewBag.Title = " - Galleries - Logo Design";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">About Us</h1>
        <ul class="pull-right breadcrumb">
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <p>We are a small team consisting of contractors and freelancers that love our jobs. We always do the best we can do to produce high quality works to our clients. We do web site design, desktop application and native mobile development.</p>
    <br />
    <br/>
    <br/>
    <br />
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
</div><!--/container-->
<!--=== End Content Part ===-->
@section Css {
    <link href="~/Plugins/flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Plugins/parallax-slider/css/parallax-slider.css" rel="stylesheet" />
    <link href="~/Content/pages/page_contact.css" rel="stylesheet" />
<link href="~/Plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/Plugins/parallax-slider/js/parallax-slider.js"></script>
<script src="~/Plugins/parallax-slider/js/jquery.cslider.js"></script>
}